@charset "UTF-8";

body{
    margin: 0px;
    margin-top: 75px;
}
.date{
    font-family: Roboto;
    color: #008080;
}
.post-content{
    font-family: Open Sans;
    margin: 0px;
    
}
h1{
    font-family: Montserrat;
}
div{
    margin-right: 150px;
    margin-left: 150px;
    background-color: rgb(213, 213, 224);
    
}

